
<div class="transfer">
  <div class="panel-wrap">
    <app-transfer-panel
      [showSearch]="search"
      [list]="leftShowList"
      (select)="onSelect($event, 'left')"
      (filtered)="onFiltered($event, 'left')"
    ></app-transfer-panel>
  </div>
  <div class="operations">
    <button
      class="btn btn-primary"
      [disabled]="disableBtn('right')"
      (click)="dropTo('right')"
    >&gt;</button>
    <button
      class="btn btn-primary"
      [disabled]="disableBtn('left')"
      (click)="dropTo('left')"
    >&lt;</button>
  </div>
  <div class="panel-wrap">
    <app-transfer-panel
      [showSearch]="search"
      [list]="rightShowList"
      (select)="onSelect($event, 'right')"
      (filtered)="onFiltered($event, 'right')"
    ></app-transfer-panel>
  </div>
</div>
